.about {
    background-color: rgb(38, 38, 38);
    width: 100%;
    .album-back-container{
        background-image: url(../../assets/credits.jpg);
        background-size: 100% 100vh;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;

        .about-text {
            padding: 30px 0;
            margin: 20px auto;
            .credits {
                display: flex;
                justify-content: center;
                margin: auto;
                font-size: 20px;
                .credits-column {
                    width: 50%;
                    margin: auto;
                    .credits-title {
                        font-weight: bolder;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .album-poster {
        width: 80%;
        height: auto;
        margin: auto;
    }
}

@media screen and (max-width: 1080px) {
    .about {
        .album-back-container{
            .about-text {
                .credits {
                    font-size: 17px;
                }
            }
        }

    }
}
@media screen and (max-width: 768px) {
    .about {
        .album-back-container{
            width: 100%;
            .about-text {
                .credits {
                    font-size: 15px;

                }
            }
        }
        .album-poster {
            width: 100vw;
        }
    }
}
 
// @media screen and (max-width: 419px) {
//     .about {
//         .album-poster {
//             width: 100vw;
//             width: 100vh;
//         }
//     }
// }