#canvas1 {
    position: absolute;
    /* border: 1px solid black;
        background: blue; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#canvas2 {
    position: absolute;
    /* border: 1px solid black;
    background: blue; */
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#canvas3 {
    // position: absolute;
    /* border: 1px solid black;
    background: blue; */
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
}

#canvas4 {
    // position: absolute;
    /* border: 1px solid black;
    background: blue; */
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
}