.header {
    padding: 20px;
    text-align: left;
    background-color: black;
    
    h1 {
        text-shadow: 3px 2px #ff0000;   
        letter-spacing: 5px;
        text-transform: uppercase;
    }
}
