$white: #fff;
$active-color: #642929;

.playerHeader {
    // width: 100%;
    // height: 100vh;
    background: radial-gradient(circle, $active-color 21%, rgba(0, 0, 0, 1) 90%);
    // background: $active-color;
    transition: background 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // align-items: center;
    // flex-wrap: nowrap;
    // padding: 5px;

    .bigArtwork {
        height: 100vh;
        opacity: 0.4;
        border-radius: 20px;

        // para tela grande
        width: 540px;

        // para tela pequena
        // width: 340px;
        

    }

    .audio-player {
        // para tela grande
        // width: 540px;

        // para tela pequena
        // width: 340px;

        border-radius: 20px;
        border: 2px solid white;
        box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
        // margin: 0 auto 0 auto;
        color: $white;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .track-info {
            text-align: center;
            z-index: 1;
            // position: relative;

            .artwork {
                border-radius: 50%;
                // margin: auto;
                width: 70%;
            }

            .title {
                font-weight: 700;
                margin-bottom: 4px;
            }

            .artist {
                font-weight: 300;
                margin-top: 0;
                font-size: 12px;
                color: #e6a0a0;
            }
            .audio-controls {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                // height: 100px;
                margin: 25px auto 50px;
                background-color: #7c5757;
                border-radius: 20px;
                padding: 5px;
                
                button {
                    color: white;
                    background: none;
                    border: none;
                    cursor: pointer;
                    width: 100px;
                    height: auto;
                    box-shadow: 2px 2px 25px 2px #333;
                    
                }
        
                button:hover {
                    box-shadow: 2px 2px 40px 5px #333;
                }
        
                .prev {
                    opacity: 0.4;
                    background-color: rgb(116, 21, 21);
                    padding: 0;
                    border-radius: 50%;
                    width: 100px;
                    height: auto;
        
                    svg {
                        width: 50px;
                        height: 50px;
                    }
                }
        
                .next {
                    opacity: 0.4;
                    background-color: rgb(116, 21, 21);
                    padding: 0;
                    border-radius: 50%;
                    width: 100px;
                    height: auto;
        
                    svg {
                        width: 50px;
                        height: 50px;
        
                    }
                }
        
                .play {
                    background-color: rgb(64, 167, 119);
                    opacity: 0.4;
                    padding: 0;
                    border-radius: 50%;
                    width: 100px;
                    height: auto;
        
                    svg {
                        width: 70px;
                        height: 70px;
        
                    }
                }
        
                .pause {
                    background-color: rgb(108, 19, 19);
                    border-radius: 50%;
                    width: 100px;
                    height: auto;
        
        
                    svg {
                        width: 70px;
                        height: 70px;
        
                    }
                }
        
                path {
                    fill: $white;
                }
        
            }
        
            input[type="range"] {
                height: 13px;
                -webkit-appearance: none;
                width: 90%;
                margin: 40px 5px;
                border-radius: 8px;
                background: #184041;
                transition: background 2s ease;
                cursor: pointer;
            }
        }


    }

    .lyricsImage {
        width: 33%;
        max-width: 90vw;
        margin: auto;
        // top: 0;
        // right: 0;
    }


    
    .color-backdrop {
        // background: linear-gradient(45deg, $active-color, black);
        background: linear-gradient(0deg, $active-color, green 40%, red);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        
    }
    .playing {
        animation: colorChange 2s alternate infinite;
    }

    .color-backdrop.playing {
        animation: colorChange 2s alternate infinite;
    }

}

@keyframes colorChange {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

@media screen and (max-width: 1080px) {
    .playerHeader {
    
        .bigArtwork {

            
    
            // para tela grande
            width: 540px;
    
            // para tela pequena
            // width: 340px;
            
    
        }
    
        .audio-player {
            // para tela grande
            width: 540px;
    
            // para tela pequena
            // width: 340px;

    
            .track-info {

    
                .artwork {

    
                }
    
                .title {

                }
    
                .artist {

                }
                .audio-controls {

                    
                    button {
        
                        
                    }
            
                    button:hover {
                    }
            
                    .prev {
  
            
                        svg {
                       
                        }
                    }
            
                    .next {
                       
            
                        svg {
            
                        }
                    }
            
                    .play {
                      
                        svg {
            
                        }
                    }
            
                    .pause {
            
            
                        svg {
            
                        }
                    }
            
                    path {
                    }
            
                }
            
                input[type="range"] {

                }
            }
    
    
        }

    
    
        
     
    }   
}

@media screen and (max-width: 728px) {
    .playerHeader {
    
        .bigArtwork {

            
    
            // para tela grande
            // width: 540px;
    
            // para tela media
            width: 420px;

            // para tela pequena
            // width: 340px;
            
    
        }
    
        .audio-player {
            // para tela grande
            // width: 540px;
    
            // para tela pequena
            width: 340px;

    
            .track-info {

    
                .artwork {

    
                }
    
                .title {

                }
    
                .artist {

                }
                .audio-controls {

                    
                    button {
        
                        
                    }
            
                    button:hover {
                    }
            
                    .prev {
  
            
                        svg {
                       
                        }
                    }
            
                    .next {
                       
            
                        svg {
            
                        }
                    }
            
                    .play {
                      
                        svg {
            
                        }
                    }
            
                    .pause {
            
            
                        svg {
            
                        }
                    }
            
                    path {
                    }
            
                }
            
                input[type="range"] {

                }
            }
    
        }
     
    }  
}

@media screen and (max-width: 810px) {
    .playerHeader {
    
        .bigArtwork {

            
    
            // para tela grande
            // width: 540px;
    
            // para tela pequena
            width: 340px;
            
    
        }
    
        .audio-player {
            // para tela grande
            // width: 540px;
    
            // para tela pequena
            width: 340px;

    
            .track-info {

    
                .artwork {

    
                }
    
                .title {

                }
    
                .artist {

                }
                .audio-controls {

                    
                    button {
        
                        
                    }
            
                    button:hover {
                    }
            
                    .prev {
  
            
                        svg {
                       
                        }
                    }
            
                    .next {
                       
            
                        svg {
            
                        }
                    }
            
                    .play {
                      
                        svg {
            
                        }
                    }
            
                    .pause {
            
            
                        svg {
            
                        }
                    }
            
                    path {
                    }
            
                }
            
                input[type="range"] {

                }
            }
    
    
        }

    
    
        
     
    }   
}


